
#fundo_c {
    width: 100%;
    height: auto;
    background: url("../img/fundo_c.jpg");   
    
}

#fundo_c img{
    padding-right: 10px;
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

#fundo_c h2{
    text-align: center;
    font-size: 30px;
    background-color: var(--head_02);
    border-radius: 80px;  
    margin: 0px; 
   
}

h1{
    text-align: center;
    font-size: 30px;
}

#P {
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 15px 0 0 0 #000, -5px 0 0 0 #000;
    background: #000;
    display: inline;
    padding: 3px 0 !important;
    position: relative;
    color: #FFFFFF;
    margin: 15px;
    font-size: 50px; 
}

#preco{
    text-align: right;
}

#test {
    width: 100%;
}

#promocao {
    text-decoration: line-through;
    color: var(--head_02);
}

.teste {
    background-color: #fffffff1;
    border: solid 1px #000;
    border-radius: 15px;
    padding: 15px;
    align-items:center;
    display: flex;
    margin-bottom: 20PX;
    width: 40%;
    margin: 5px;
}

.teste h3{
    font-size: 25px;
}
.teste p{
    font-size: 20px;
}

#PizzaSalgada, #PizzaDoce, #Bebidas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media(max-width: 800px){
    label[for="btt_menu"]{
        display: block;
    }
    label[for="btt_menu"]{
        font-size: 40px;    
    }

    body{
        width: 50%;
    }  
    
   #fundo_c{
    flex-wrap: wrap;
   }
   .teste {
    background-color: #fffffff1;
    border: solid 1px #000;
    border-radius: 10px;
    padding: 10px;   
    display: flex;
    margin-bottom: 10PX;
    width: 50%;
    margin: 5px;
}

.teste h3{
    font-size: 15px;
}
.teste p{
    font-size: 10px;
}

#fundo_c img{
    padding-right: 5px;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
}